<div style="display: inline-flex;">
  <app-transactions-filtering [filterSubject]="filterSubject"></app-transactions-filtering>

  <div>
    <mat-table style="width: 1284px;" #table matSort [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef [ngClass]="'table-column table-column--slim'" mat-sort-header> Data
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'table-column table-column--slim'" (click)="openDialog(element)">
          {{ element.date | date: 'dd-MM-y' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef [ngClass]="'table-column table-column--medium'" mat-sort-header> Typ
          transakcji
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'table-column table-column--medium'">
          {{ element.type }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef [ngClass]="'table-column table-column--slim'" mat-sort-header> Kwota
        </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'table-column table-column--slim'"> {{ element.amount | number:
          '1.2-2' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef [ngClass]="'table-column table-column--wide'" mat-sort-header> Opis
        </mat-header-cell>
        <mat-cell [ngClass]="'table-column table-column--wide'" *matCellDef="let element">
          <div class="cell-text--description">{{ element.description }}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell [ngClass]="'table-column table-column--slim'" *matHeaderCellDef mat-sort-header> Kategoria
        </mat-header-cell>
        <mat-cell [ngClass]="'table-column table-column--slim'" *matCellDef="let element">

          <app-display-category
            [category]="element.categoryOverride !== undefined ? element.categoryOverride : element.category">
          </app-display-category>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comment">
        <mat-header-cell [ngClass]="'table-column table-column--medium'" *matHeaderCellDef> Komentarz </mat-header-cell>
        <mat-cell [ngClass]="'table-column table-column--medium'" *matCellDef="let element">
          <div class="cell-text">{{ element.comment }}</div>
          <span class="fill-remaining-space"></span>
          <div class="table-column--actions">
            <button mat-icon-button class="box-button" (click)="openDialog(element)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>