<h1 mat-dialog-title>Transaction details</h1>
<div mat-dialog-content>
  <table>
    <tr>
      <td>Data</td>
      <td>{{data.date | date:'d-M-y'}}</td>
    </tr>
    <tr>
      <td>Typ</td>
      <td>{{data.type}}</td>
    </tr>
    <tr>
      <td>Kwota</td>
      <td>{{data.amount}}</td>
    </tr>
    <tr>
      <td>Stan rachunku po operacji</td>
      <td>{{data.balanceAfter}}</td>
    </tr>
    <tr>
      <td>Opis</td>
      <td>
        <div>{{data.description}}</div>
      </td>
    </tr>
    <tr>
      <td>Komentarz</td>
      <td>
        <mat-form-field>
          <input matInput name="comment" [(ngModel)]="data.comment">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>Kategoria</td>
      <td width="350px">
        <app-select-category [(ngModel)]="data.category"></app-select-category>
      </td>
    </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" tabindex="1">Ok</button>
  <button mat-button (click)="cancel()" tabindex="2">Cancel</button>
</div>