<mat-form-field>
    <input matInput placeholder="nazwa" [(ngModel)]="name">
</mat-form-field><br />
<mat-form-field class="longField">
    <input matInput placeholder="predykat" [(ngModel)]="predicate">
</mat-form-field><br />
<div>
    <app-select-category [(ngModel)]="category"></app-select-category>
</div>
<button mat-flat-button (click)="create()" color="primary">dodaj</button>

<table>
    <tr *ngFor="let rule of rules">
        <td>{{ rule.name }}</td>
        <td>{{ rule.predicate }}</td>
        <td>
            <app-display-category [category]="rule.category"></app-display-category>
        </td>
        <td>
            <button mat-button (click)="delete(rule.name)">
                <i class="material-icons" style="font-size: 18px">cancel</i>
            </button>
        </td>
    </tr>
</table>