<mat-form-field>
    <input matInput placeholder="nazwa" [(ngModel)]="name">
</mat-form-field><br />
<mat-form-field class="longField">
    <input matInput placeholder="predykat" [(ngModel)]="predicate">
</mat-form-field><br />
<div>
    <app-select-category [(ngModel)]="category"></app-select-category>
</div>

<button mat-flat-button (click)="create()" color="primary">dodaj</button>


<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let rule of rules | async" cdkDrag>
        <div style="width: 10em;">{{ rule.name }}</div>
        <app-display-category [category]="rule.category" style="width: 30em;"></app-display-category>
        <span class="fill-remaining-space"></span>
        <button mat-flat-button (click)="isOverlayOpen[rule.id] = !isOverlayOpen[rule.id]" cdkOverlayOrigin
            #trigger="cdkOverlayOrigin" color="primary" class="box-button">
            <i class="material-icons" style="font-size: 18px">preview</i></button>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="isOverlayOpen[rule.id]">
            <div class="predicate-overlay">{{ rule.predicate }}</div>
        </ng-template>
        <button mat-flat-button (click)="delete(rule.id)" color="primary" class="box-button">
            <i class="material-icons" style="font-size: 18px">cancel</i>
        </button>

    </div>
</div>