div.search-tab-description {
  margin: 10px 0px 10px 0px;
}
.search-form-tabs {
  max-width: 1250px;
  margin-bottom: 20px;
}
.search-form-button {
  margin-right: 5px;
}
.tab-body {
  margin-left: 10px;
  margin-bottom: 10px;
}
.amount-radio-group {
  display: none;
  flex-direction: row;
  margin: 0px 20px 20px 0px;
}
.amount-radio-button {
  margin: 5px;
}
.amount-form {
  display: inline-flex;
  margin-top: 10px;
}
