@import '~@angular/cdk/overlay-prebuilt.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.mat-form-field {
  margin-right: 8px;
}
.mat-form-field.longField {
  width: 1000px;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.error-message {
  background-color: orangered;
  color: black;
}
